# For local development (SQLite)
# DB_TYPE=sqlite
# DATABASE_URL=sqlite:///./test.db

# Auth Settings
# Generate a secure secret key, e.g., using: openssl rand -hex 32
SECRET_KEY="YOUR_SUPER_SECRET_KEY"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

# In production (Docker/cloud):
# ALLOWED_ORIGINS="https://yourdomain.com,https://api.yourdomain.com"

ALLOWED_ORIGINS=http://localhost:9001,http://127.0.0.1:9001