[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
psycopg2-binary = "*"
python-dotenv = "*"
uvicorn = "*"
alembic = "*"
pydantic-settings = "*"
requests = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.11"
